body{
  width: 100%;
  height: 100%;
  background-color: #33495f;
  overflow: hidden;
}
#weather-header{
  color: #F9DB62;
  font-size: 29px;
  padding-top: 5px;
  text-align: center;
}
#weather-para{
  color: #A2ACB6;
  font-size: 13px;
  text-align: center;
}
#city-section{
  margin-top: 30px;
  height: 50px;
  width: 90%;
  margin-bottom: 30px;
  background: rgb(250, 236, 180);
  border: #AFA461 solid 2px;
  border-bottom: #33495f;
  border-radius: 10px;
  margin-left: 15px;
  
}
#country-section{
  margin-top: 20px;
  height: 50px;
  width: 90%;
  margin-bottom: 30px;
  background: rgb(250, 236, 180);
  border: #AFA461 solid 2px;
  border-bottom: #33495f;
  border-radius: 10px;
  margin-left: 15px;
}
#myButton{
  margin-left: 100px;
  height: 50px;
  width: 120px;
  background: #AFA461;
  color: white;
  border-radius: 5px;
  border: 2px solid;
  font-size: 15px;
}
#myButton:hover{
  background: #F9DB62;
  color: white;
}
#footer-message{
  color: #A2ACB6;
  font-size: 12px;
}
#weather-result{
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}


@media (min-width: 768px){
  body{
      background: #33495f;
      background-position-y: 60px;
  }
  #weather-header{
      margin-top: 1px;
      font-size: 30px;
      text-align: center;
  }
  #weather-para{
      font-size: 15px;
      text-align: center;
  }
  #city-section{
      margin-top: 20px;
      margin-left: 30px;
  }
  #country-section{
      margin-left: 30px;
  }
  #myButton{
      margin-left: 40%;
  }
  #weather-result{
      margin-top: 100px;
      font-style: italic;
      text-shadow:#F9DB62 10px;
  }
  #footer-message{
      font-style: normal;
  }
}
@media (min-width: 1024px){
  body{
      background: url(images/weather.gif) #33495f;
  }
  #weather-header{
      font-size: 30px;
  }
  #weather-para{
      font-size: 15px;
  }
  #city-section{
      margin-top: 20px;
      height: 50px;
      width: 40%;
      margin-bottom: 30px;
      background: #33495f;
      border: #AFA461 solid 2px;
      border-bottom: #33495f;
      border-radius: 10px;
      margin-left: 500px;
      
  }
  #country-section{
      margin-top: 20px;
      height: 50px;
      width: 40%;
      margin-bottom: 30px;
      background: #33495f;
      border: #AFA461 solid 2px;
      border-bottom: #33495f;
      border-radius: 10px;
      margin-left: 500px;
  }
  #myButton{
      margin-left: 750px;
  }
}